body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #f85c37;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
  background: #ff7878
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #ff7878;
  font-size: 22px;
  letter-spacing: 1px;
}

/*!*TILT*!*/
/*.tilt {*/
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*-ms-transition: all 0.5s ease;*/
  /*transition: all 0.5s ease;*/
/*}*/

/*.tilt:hover {*/
  /*-webkit-transform: rotate(-10deg);*/
  /*-moz-transform: rotate(-10deg);*/
  /*-o-transform: rotate(-10deg);*/
  /*-ms-transform: rotate(-10deg);*/
  /*transform: rotate(-10deg);*/
/*}*/

.main{
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 92%;
}

/* Copyrights */
#copyrights {
  background: #222222;
  padding: 18px 0;
  text-align: center;
  color: #fff;
}

#copyrights p {
  margin-bottom: 5px;
}
